[submodule "ament/ament_cmake"]
	path = ament/ament_cmake
	url = https://github.com/ament/ament_cmake.git
[submodule "ament/ament_tools.git"]
	path = ament/ament_tools
	url = https://github.com/ament/ament_tools.git
[submodule "ament/ament_package"]
	path = ament/ament_package
	url = https://github.com/ament/ament_package.git
[submodule "ament/osrf_pycommon"]
	path = ament/osrf_pycommon
	url = https://github.com/osrf/osrf_pycommon.git
